.App {
  text-align: center;
}
body{
  background-color: rgb(50, 191, 237);
  margin-left: 60px;
}
.show{
  display: flex;
}
.showBox{
  background-color: aquamarine;
  width: 50%;
  height: 50vh;
  border-radius: 20px;
  border: 2px solid royalblue;
  }
  .btnStyle{
      width: 30vw;
      height: 10vh;
      color: aliceblue;
      background-color: black;
      border-radius: 20px;
      margin: 100px 0;
    }


